.product{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px;
}


.product .image img{
    width: 100%;
}


.product .imageText{
    /* margin-left: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product .imageText .category{
    text-transform: uppercase;
    color: #0a1853;
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
}
.product .imageText .rate{
    font-weight: bold;
    font-size: 20px;
    background: #0a1853;
    width: 4rem;
    height: 4rem;
    color: white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product .imageText .title{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #0a1853;
}
.product .imageText .price{
    font-weight: bold;
    font-size: 30px;
    color: #0a1853;
}
.product .imageText .pordtDis{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background: #0a1853;
    padding: 5px 10px;
}
.product .imageText .textdesp{
    margin: 20px;
    font-size: 1.2em;
}
.product .imageText .btn{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background: #0a1853;
    padding: 5px 10px;
}
.product .imageText #NavLink{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background: #0a1853;
    padding: 5px 10px;
    text-decoration: none;
}


@media only screen and (min-width:1024px) and (max-width: 1440px) {
   .product{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: space-around;
    align-items: center;
    text-align: center;
   }
}

@media only screen and (min-width: 1440px) and (max-width: 2560px) {
    .product{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
     justify-content: space-around;
     align-items: center;
     text-align: center;
    }
}